<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
    <style>
        .selectInput {
            position: relative;
            width: 100%;
            min-width: 100px;
        }

        .selectInput .flavorSelect {
            position: absolute;
            width: 100%;
            padding: 0 10px;
            border-radius: 3px;
            border: solid 1px #FF903D;
            line-height: 30px;
            text-align: center;
            background: #fff;
            top: 50px;
            z-index: 99;
        }

        .selectInput .flavorSelect .items {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            line-height: 35px;
            border-bottom: solid 1px #f4f4f4;
            color: #666;
        }

        .selectInput .flavorSelect .none {
            font-size: 14px;
        }

        #food-add-app .uploadImg .el-form-item__label::before {
            content: '*';
            color: #F56C6C;
            margin-right: 4px;
        }

    </style>
</head>
<body>
<div class="addBrand-container" id="food-add-app">
    <div class="container">
        <el-form
                ref="ruleForm"
                :model="ruleForm"
                :rules="rules"
                :inline="true"
                label-width="180px"
                class="demo-ruleForm"
        >
            <div>
                <el-form-item
                        label="店舗名:"
                        prop="name"
                >
                    <el-input
                            v-model="ruleForm.name"
                            placeholder="店舗名を入力してください:"
                            maxlength="20"
                    />
                </el-form-item>
                <el-form-item
                        label="店舗分類:"
                        prop="categoryId"
                >
                    <el-select
                            v-model="ruleForm.categoryId"
                            placeholder="店舗分類を選択してください"
                    >
                        <el-option v-for="(item,index) in dishList" :key="index" :label="item.name" :value="item.id"/>
                    </el-select>
                </el-form-item>
                <div>
                    <el-form-item
                            label="予算:"
                            prop="price"
                    >
                        <el-input
                                v-model="ruleForm.price"
                                placeholder="予算を入力してください"
                        />
                    </el-form-item>
                </div>
                <div>
                    <el-form-item
                            label="地域:"
                            prop="area"
                    >
                        <el-select v-model="ruleForm.area">
                            <el-option v-for="item in options" :value="item.value" :key="item.value"
                                       :label="item.label"></el-option>
                        </el-select>
                    </el-form-item>


                </div>
                <div>
                    <el-form-item
                            label="店舗住所:"
                            prop="location_1"
                    >
                        <el-input
                                v-model="ruleForm.location_1"
                                placeholder="店舗住所を入力してください"
                        />
                    </el-form-item>
                </div>
                <!--      <div>
                          <el-form-item
                                  label="location_2:"
                                  prop="location_2"
                          >
                              <el-input
                                      v-model="ruleForm.location_2"
                                      placeholder="please input the location"
                              />
                          </el-form-item>
                      </div>-->

                <div>
                    <el-form-item
                            label="電話番号:"
                            prop="phone"
                    >
                        <el-input
                                v-model="ruleForm.phone"
                                placeholder="電話番号を入力してください"
                        />
                    </el-form-item>
                </div>
                <el-form-item label="店舗タグ設定:">
                    <el-form-item>
                        <div class="flavorBox">
              <span
                      v-if="dishFlavors.length == 0"
                      class="addBut"
                      @click="addFlavore"
              > 店舗タグの追加</span>
                            <div
                                    v-if="dishFlavors.length != 0"
                                    class="flavor"
                            >
                                <div class="title">
                                    <span>タグ名</span><span>タグ</span>
                                </div>
                                <div class="cont">
                                    <div
                                            v-for="(item, index) in dishFlavors"
                                            :key="index"
                                            class="items"
                                    >
                                        <div class="itTit">
                                            <SelectInput
                                                    :dish-flavors-data="dishFlavorsData"
                                                    :index="index"
                                                    :value="item.name"
                                                    @select="selectHandle"
                                            />
                                            <div class="selectInput">
                                                <div>
                                                    <el-input
                                                            v-model="item.name"
                                                            type="text"
                                                            style="width: 100%"
                                                            placeholder="タグを入力してください"
                                                            @focus="selectFlavor(true,index)"
                                                            @blur="outSelect(false,index)"
                                                            @input="inputHandle(index)"
                                                    />
                                                </div>
                                                <div v-show="item.showOption" class="flavorSelect">
                          <span
                                  v-for="(it, ind) in dishFlavorsData"
                                  :key="ind"
                                  class="items"
                                  @click="checkOption(it,ind,index)"
                          >{{ it.name }}</span>
                                                    <span
                                                            v-if="dishFlavorsData == []"
                                                            class="none"
                                                    >データなし</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                                class="labItems"
                                                style="display: flex"
                                        >
                      <span
                              v-for="(it, ind) in item.value"
                              :key="ind"
                      >{{ it }} <i @click="delFlavorLabel(index, ind)">X</i></span>
                                            <div
                                                    class="inputBox"
                                                    :style="inputStyle"
                                                    contenteditable="true"
                                                    @focus="flavorPosition(index)"
                                                    @keydown.enter="(val)=>keyDownHandle(val,index)"
                                            ></div>
                                        </div>
                                        <span
                                                class="delFlavor delBut non"
                                                @click="delFlavor(index)"
                                        >削除</span>
                                    </div>
                                </div>
                                <div
                                        class="addBut"
                                        @click="addFlavore"
                                >
                                    タグの追加
                                </div>
                            </div>
                        </div>
                    </el-form-item>
                </el-form-item>
                <div>
                </div>
                <div>
                    <el-form-item
                            label="画像:"
                            prop="region"
                            class="uploadImg"
                    >
                        <el-upload
                                class="avatar-uploader"
                                action="/common/upload"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :on-change="onChange"
                                ref="upload"
                        >
                            <img
                                    v-if="imageUrl"
                                    :src="imageUrl"
                                    class="avatar"
                            />
                            <i
                                    v-else
                                    class="el-icon-plus avatar-uploader-icon"
                            ></i>
                        </el-upload>
                    </el-form-item>
                </div>
                <div class="address">
                    <el-form-item
                            label="店舗情報:"
                            prop="describe"
                    >
                        <el-input
                                v-model="ruleForm.info_1"
                                type="textarea"
                                :rows="3"
                                placeholder="店舗情報を入力してください"
                                maxlength="200"
                        />
                    </el-form-item>
                </div>
                <div class="subBox address">
                    <el-form-item>
                        <el-button @click="goBack()">
                            キャンセル
                        </el-button>
                        <el-button
                                type="primary"
                                @click="submitForm('ruleForm')"
                        >
                            セーブ
                        </el-button>
                        <el-button
                                v-if="actionType == 'add'"
                                type="primary"
                                class="continue"
                                @click="submitForm('ruleForm','goAnd')"
                        >
                            save and continue adding
                        </el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>

    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/food.js"></script>
<script>
    new Vue({
        el: '#food-add-app',
        data() {
            return {
                id: '',
                restKey: 0,
                textarea: '',
                value: '',
                imageUrl: '',
                actionType: '',
                dishList: [],
                dishFlavorsData: [],
                dishFlavors: [],
                vueRest: '1',
                index: 0,
                inputStyle: {'flex': 1},
                options: [
                    {
                        value: '新宿',
                        label: '新宿'
                    },
                    {
                        value: '代々木',
                        label: '代々木'
                    },
                    {
                        value: '大久保',
                        label: '大久保'
                    },
                    {
                        value: '池袋',
                        label: '池袋'
                    },
                    {
                        value: '高田馬場',
                        label: '高田馬場'
                    }
                ],
                ruleForm: {
                    'name': '',
                    'id': '',
                    'price': '',
                    'code': '',
                    'image': '',
                    'info_1': '',
                    'dishFlavors': [],
                    'status': true,
                    categoryId: '',
                },
                mak: false
            }
        },
        computed: {
            rules() {
                return {
                    'name': [
                        {'required': true, 'message': '店舗名をご記入ください', 'trigger': 'blur'}
                    ],
                    'categoryId': [
                        {'required': true, 'message': '店舗分類を選択してください', 'trigger': 'change'}
                    ],
                    'price': [
                        {
                            'required': true,

                            validator: (rules, value, callback) => {
                                if (!value) {
                                    callback(new Error('予算をご記入ください'))
                                } else {
                                    const reg = /^\d+(\.\d{0,2})?$/
                                    if (reg.test(value)) {
                                        if (value < 10000) {
                                            callback()
                                        } else {
                                            callback(new Error('菜品价格小于10000'))
                                        }

                                    } else {
                                        callback(new Error('数字を入力してください'))
                                    }
                                }
                            },
                            'trigger': 'blur'
                        }
                    ],
                }
            }
        },
        created() {
            this.getDishList()

            this.getFlavorListHand()
            this.id = requestUrlParam('id')
            this.actionType = this.id ? 'edit' : 'add'
            if (this.id) {
                this.init()
            }
        },
        mounted() {
        },
        methods: {
            async init() {
                queryDishById(this.id).then(res => {
                    console.log(res)
                    if (String(res.code) === '1') {
                        this.ruleForm = {...res.data}
                        this.ruleForm.price = String(res.data.price)
                        this.ruleForm.status = res.data.status == '1'
                        this.dishFlavors = res.data.flavors && res.data.flavors.map(obj => ({
                            ...obj,
                            value: JSON.parse(obj.value),
                            showOption: false
                        }))
                        console.log('this.dishFlavors', this.dishFlavors)
                        // this.ruleForm.id = res.data.data.categoryId
                        // this.imageUrl = res.data.data.image
                        this.imageUrl = `/common/download?name=${res.data.image}`
                    } else {
                        this.$message.error(res.msg || '操作失敗')
                    }
                })
            },
            addFlavore() {
                this.dishFlavors.push({'name': '', 'value': [], showOption: false}) // JSON.parse(JSON.stringify(this.dishFlavorsData))
            },

            delFlavor(ind) {
                this.dishFlavors.splice(ind, 1)
            },

            delFlavorLabel(index, ind) {
                this.dishFlavors[index].value.splice(ind, 1)
            },

            flavorPosition(index) {
                this.index = index
            },

            keyDownHandle(val, index) {
                console.log('keyDownHandle----val', val)
                console.log('keyDownHandle----index', index)
                console.log('keyDownHandle----this.dishFlavors', this.dishFlavors)
                if (event) {
                    event.cancelBubble = true
                    event.preventDefault()
                    event.stopPropagation()
                }

                if (val.target.innerText.trim() != '') {
                    this.dishFlavors[index].value.push(val.target.innerText)
                    val.target.innerText = ''
                }
            },

            getDishList() {
                getCategoryList({'type': 1}).then(res => {
                    if (res.code === 1) {
                        this.dishList = res.data
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },


            getFlavorListHand() {
                this.dishFlavorsData = [
                    {'name': '支払方法', 'value': ['カード可', '電子マネー不可', 'QRコード決済不可']},
                    {'name': '予約可否', 'value': ['予約可', '予約不可']},
                ]
            },

            selectFlavor(st, index) {
                console.log('st', st)
                console.log('index', index)
                console.log('this.dishFlavors', this.dishFlavors)
                const obj = JSON.parse(JSON.stringify(this.dishFlavors[index]))
                obj.showOption = st
                this.dishFlavors.splice(index, 1, obj)
                // this.dishFlavors[index].showOption = st
            },

            outSelect(st, index) {
                const _this = this
                setTimeout(() => {
                    const obj = JSON.parse(JSON.stringify(_this.dishFlavors[index]))
                    obj.showOption = st
                    _this.dishFlavors.splice(index, 1, obj)
                }, 200)
            },

            inputHandle(val, index) {
                // this.selectFlavor(false,index)
            },

            checkOption(val, ind, index) {
                this.selectHandle(val.name, index, ind)
                this.dishFlavors[index].name = val.name
            },

            selectHandle(val, key, ind) {
                const arrDate = [...this.dishFlavors]
                arrDate[key] = JSON.parse(JSON.stringify(this.dishFlavorsData[ind]))
                this.dishFlavors = arrDate
            },

            submitForm(formName, st) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let params = {...this.ruleForm}
                        // params.flavors = this.dishFlavors
                        params.status = this.ruleForm ? 1 : 0
                        params.categoryId = this.ruleForm.categoryId
                        params.descriptions = this.dishFlavors.map(obj => ({...obj, value: JSON.stringify(obj.value)}))
                        delete params.dishFlavors

                        if (this.actionType == 'add') {
                            delete params.id
                            addDish(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('店舗登録成功！')
                                    if (!st) {
                                        this.goBack()
                                    } else {
                                        this.dishFlavors = []
                                        this.imageUrl = ''
                                        this.ruleForm = {
                                            'name': '',
                                            'id': '',
                                            'price': '',
                                            'code': '',
                                            'image': '',
                                            'info_1': '',
                                            'dishFlavors': [],
                                            'status': true,
                                            categoryId: ''
                                        }
                                    }
                                } else {
                                    this.$message.error(res.msg || '操作失敗')
                                }
                            }).catch(err => {
                                this.$message.error('request error：' + err)
                            })
                        } else {
                            delete params.updateTime
                            editDish(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('店舗更新成功！')
                                    this.goBack()
                                } else {
                                    this.$message.error(res.msg || '操作失敗')
                                }
                            }).catch(err => {
                                this.$message.error('request error：' + err)
                            })
                        }
                    } else {
                        return false
                    }
                })
            },

            handleAvatarSuccess(response, file, fileList) {

                if (response.code === 0 && response.msg === 'ログインしていない') {
                    window.top.location.href = '/backend/page/login/login.html'
                } else {
                    this.imageUrl = `/common/download?name=${response.data}`
                    this.ruleForm.image = response.data
                }
            },

            onChange(file) {
                if (file) {
                    const suffix = file.name.split('.')[1]
                    const size = file.size / 1024 / 1024 < 2
                    if (['png', 'jpeg', 'jpg'].indexOf(suffix) < 0) {
                        this.$message.error('画像のアップロードは、png, jpeg, jpg形式のみ対応しています')
                        this.$refs.upload.clearFiles()
                        return false
                    }
                    if (!size) {
                        this.$message.error('アップロードできるファイルのサイズは2MBまでです')
                        return false
                    }
                    return file
                }
            },

            goBack() {
                window.parent.menuHandle({
                    id: '4',
                    url: '/backend/page/shop/list.html',
                    name: '店舗管理'
                }, false)
            }
        }
    })
</script>
</body>
</html>